{% extends 'base.html' %}

{% block body %}
    <link rel="stylesheet" data-ignore="true" href="//qidian.gtimg.com/c/=/hongxiu/css/reset.5c4a3.css,/hongxiu/css/font.2ef69.css,/hongxiu/css/header.f7aa0.css,/hongxiu/css/module.ddca7.css,/hongxiu/css/list_module.e8c32.css,/hongxiu/css/free.12b3d.css,/hongxiu/css/layout.9f7c8.css,/hongxiu/css/popup.b5c52.css,/hongxiu/css/footer.4a6a8.css">
    <link charset="utf-8" rel="stylesheet" href="https://qidian.gtimg.com/hongxiu/css/lbfUI/css/LightTip.css">
    <link charset="utf-8" rel="stylesheet" href="https://qidian.gtimg.com/hongxiu/css/lbfUI/css/Popup.css">
     <link charset="utf-8" rel="stylesheet" href="https://qidian.gtimg.com/hongxiu/css/lbfUI/css/Drag.css">
    <link charset="utf-8" rel="stylesheet" href="https://qidian.gtimg.com/hongxiu/css/lbfUI/css/Popup.css">
    <link charset="utf-8" rel="stylesheet" href="https://qidian.gtimg.com/hongxiu/css/lbfUI/css/LightTip.css">
    <link charset="utf-8" rel="stylesheet" href="https://qidian.gtimg.com/hongxiu/css/lbfUI/css/Panel.css">
    <link rel="stylesheet" data-ignore="true"
          href="//qidian.gtimg.com/c/=/hongxiu/css/lbfUI/css/icon.c9000.css,/hongxiu/css/lbfUI/css/Drag.41d31.css,/hongxiu/css/reset.5c4a3.css,/hongxiu/css/font.2ef69.css,/hongxiu/css/header.f7aa0.css,/hongxiu/css/module.ddca7.css,/hongxiu/css/footer.4a6a8.css,/hongxiu/css/layout.9f7c8.css,/hongxiu/css/book_details.b5de2.css,/hongxiu/css/popup.b5c52.css,/hongxiu/css/book_popup.76874.css,/hongxiu/css/vote_popup.524f6.css">
    <link rel="stylesheet" data-ignore="true"
          href="https://qidian.gtimg.com/c/=/hongxiu/css/reset.5c4a3.css,/hongxiu/css/font.2ef69.css,/hongxiu/css/header.f7aa0.css,/hongxiu/css/module.ddca7.css,/hongxiu/css/list_module.e8c32.css,/hongxiu/css/free.12b3d.css,/hongxiu/css/layout.9f7c8.css,/hongxiu/css/popup.b5c52.css,/hongxiu/css/footer.4a6a8.css">
    <link charset="utf-8" rel="stylesheet" href="https://qidian.gtimg.com/hongxiu/css/lbfUI/css/LightTip.css">
    <link charset="utf-8" rel="stylesheet" href="https://qidian.gtimg.com/hongxiu/css/lbfUI/css/Popup.css">

    <div class="limit-free-list cf book-detail-wrap center1020">
        <div class="limit-book-list fl" data-l1="5">

            <div id="limit-list" class="inner-wrap">
                <div class="book-img-text">
                    <ul>

                        <li data-rid="1">
                            <div class="book-img-box">
                                <a href="/book/13421924503608304" data-eid="qd_E04" data-bid="13421924503608304"
                                   target="_blank"><img
                                        src="//bookcover.yuewen.com/qdbimg/349573/c_9417477904611803/90"></a>
                            </div>
                            <div class="book-mid-info">
                                <h4><a href="/book/13421924503608304" target="_blank" data-eid="qd_E05"
                                       data-bid="13421924503608304">久爱成疾</a></h4>
                                <p class="author">
                                    <img src="//qidian.gtimg.com/hongxiu/images/ico/account.1e031.png"><a
                                        class="default name" data-eid="qd_E06">烟了了</a><em>|</em><a data-eid="qd_E07"
                                                                                                   href="/all?catId=30020"
                                                                                                   target="_blank">现代言情</a><em>|</em>261.54万
                                </p>
                                <p class="intro">
                                    【已出版】
出版名《久爱成疾》，当当，天猫上均有销售。
英俊矜贵，冷漠无情的世家继承人厉沉暮看上了寄养在家中的拖油瓶少女顾清欢。
从此高冷男人化身为忠犬，带娃，做饭……整个世家圈跌破眼镜，人人艳羡。
顾清欢佛系微笑：腹黑，精力旺盛，睚眦必报，白天一个人格，晚上一个人格。
【阅读小贴士：1V1，双洁，宠文，女主美美美。】

                                </p>
                            </div>
                            <div class="book-right-info">
                                <p class="btn">
                                    <a class="red-btn" href="/book/13421924503608304" target="_blank" data-eid="qd_E02"
                                       data-bid="13421924503608304" style="background-color: palegreen;border-color: palegreen;color: #FB1F2C">vip</a>

                                    <a class="border-btn add-book" href="javascript:" data-eid="qd_E03"
                                       data-bookid="13421924503608304" data-bid="13421924503608304" style="border-color: palegreen;color: #000000">加入书架</a>
                                </p>
                            </div>
                        </li>

                        <li data-rid="2">
                            <div class="book-img-box">
                                <a href="/book/13476070005433504" data-eid="qd_E04" data-bid="13476070005433504"
                                   target="_blank"><img
                                        src="//bookcover.yuewen.com/qdbimg/349573/c_13476070005433504/150"></a>
                            </div>
                            <div class="book-mid-info">
                                <h4><a href="/book/13476070005433504" target="_blank" data-eid="qd_E05"
                                       data-bid="13476070005433504">报告爷，太太要休夫！</a></h4>
                                <p class="author">
                                    <img src="//qidian.gtimg.com/hongxiu/images/ico/account.1e031.png"><a
                                        class="default name" data-eid="qd_E06">唐烫</a><em>|</em><a data-eid="qd_E07"
                                                                                                  href="/all?catId=30020"
                                                                                                  target="_blank">现代言情</a><em>|</em>56.47万
                                </p>
                                <p class="intro">
                                    一场阴谋，她不得不牺牲自己嫁给霍家太子爷，人称冷面阎王的男人。
某天，“爷，太太在微博公开征婚，说、说她单身……”
男人淡淡掀起眼皮，“买下明天各家报社的头条，把结婚证登上去。”
“爷，不好了！太太伪造离婚证，贴微博上了。”
男人不疾不徐挽起袖子露出强劲有力的手臂，“告诉大家，昨天我们很愉快的度过了结婚纪念日。”
“爷，太太她……她说您太无趣，要带球改嫁……”
“反了她！”男人的声音沉冷如冰，都宠成这样了还能搞事情！
是夜，太子爷把人逼到墙角，“听说你要带着我女儿改嫁，嗯？”

                                </p>
                            </div>
                            <div class="book-right-info">
                                <p class="btn">
                                    <a class="red-btn" href="/book/13476070005433504" target="_blank" data-eid="qd_E02"
                                       data-bid="13476070005433504" style="background-color: palegreen;border-color: palegreen;color: #FB1F2C">vip</a>

                                    <a class="border-btn add-book" href="javascript:" data-eid="qd_E03"
                                       data-bookid="13476070005433504" data-bid="13476070005433504" style="border-color: palegreen;color: #000000">加入书架</a>
                                </p>
                            </div>
                        </li>

                        <li data-rid="3">
                            <div class="book-img-box">
                                <a href="/book/13699729503387204" data-eid="qd_E04" data-bid="13699729503387204"
                                   target="_blank"><img
                                        src="//bookcover.yuewen.com/qdbimg/349573/c_13699729503387204/150"></a>
                            </div>
                            <div class="book-mid-info">
                                <h4><a href="/book/13699729503387204" target="_blank" data-eid="qd_E05"
                                       data-bid="13699729503387204">重生逆袭：这个学霸，我罩了</a></h4>
                                <p class="author">
                                    <img src="//qidian.gtimg.com/hongxiu/images/ico/account.1e031.png"><a
                                        class="default name" data-eid="qd_E06">庄周笑梦</a><em>|</em><a data-eid="qd_E07"
                                                                                                    href="/all?catId=30031"
                                                                                                    target="_blank">浪漫青春</a><em>|</em>162.42万
                                </p>
                                <p class="intro">
                                    前世身居高处、叱咤风云，最后却病死家中，无人晓知。
一朝重生，回到了最青葱的高中时代。唐诗原想安安静静读书，陪着家人过平和温馨的小日子。只是……重生第一天，她就因打架在全校出名，然后被发配到了著名的“混混班”。
看着新同学们浑身上下冒出的敌意，唐诗伸出食指眨眼浅笑：“嘘，我们要和平共处，弘扬校园正能量，维护世界和平。”
……
后来，某学霸将唐诗截在胡同里，垂眸看她：“对我始乱终弃，就是你唐老大弘扬正能量的作风？”
唐老大：“……？？”
【男强女强+青葱岁月+热血励志+商战职场】

                                </p>
                            </div>
                            <div class="book-right-info">
                                <p class="btn">
                                    <a class="red-btn" href="/book/13699729503387204" target="_blank" data-eid="qd_E02"
                                       data-bid="13699729503387204" style="background-color: palegreen;border-color: palegreen;color: #FB1F2C">vip</a>

                                    <a class="border-btn add-book" href="javascript:" data-eid="qd_E03"
                                       data-bookid="13699729503387204" data-bid="13699729503387204" style="border-color: palegreen;color: #000000">加入书架</a>
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
{% endblock %}