<div class="footer center1020" style="background-color: palegreen;width: 1170px;color: black">
    <div class="box-center cf">
        <div class="copy-right">
            <p style="color: black">请所有作者发布作品时务必遵守国家互联网信息管理办法规定，我们拒绝任何色情小说，一经发现，即作删除！客服电话：010-59357051</p>
            <p style="color: black">联系方式 总机 010-6211358 地址：北京市朝阳区天辰东路7号楼-2至8层101内北区7层706室</p>
            <p style="color: black">本站所收录作品、社区话题、书库评论及本站所做之广告均属个人行为，与本站立场无关</p></div>
        <div class="safety-box">
            <div class="safety-img dib-wrap"><a class="site1" href="http://www.12377.cn" target="_blank"></a><a
                    class="site2" href="http://www.shjbzx.cn" target="_blank"></a><a class="site3"
                                                                                     href="https://ss.knet.cn/verifyseal.dll?sn=e17103011010869321wsdl000000&amp;a=1&amp;pa=0.8369620393163408"
                                                                                     target="_blank"></a></div>
        </div>
    </div>
</div>