{% extends 'base.html' %}
{% block body %}
    连载
{% endblock %}
{#<link rel="stylesheet" data-ignore="true"#}
{#      href="https://qidian.gtimg.com/c/=/hongxiu/css/reset.5c4a3.css,/hongxiu/css/font.2ef69.css,/hongxiu/css/header.f7aa0.css,/hongxiu/css/module.ddca7.css,/hongxiu/css/list_module.e8c32.css,/hongxiu/css/free.12b3d.css,/hongxiu/css/layout.9f7c8.css,/hongxiu/css/popup.b5c52.css,/hongxiu/css/footer.4a6a8.css">#}
{#<link charset="utf-8" rel="stylesheet" href="https://qidian.gtimg.com/hongxiu/css/lbfUI/css/LightTip.css">#}
{#<link charset="utf-8" rel="stylesheet" href="https://qidian.gtimg.com/hongxiu/css/lbfUI/css/Popup.css">#}
{#{% block body  %}#}
{#    <div id="limit-list" class="inner-wrap">#}
{#    <div class="book-img-text">#}
{#        <ul>#}
{##}
{#            <li data-rid="1">#}
{#                <div class="book-img-box">#}
{#                    <a href="/book/13421924503608304" data-eid="qd_E04" data-bid="13421924503608304"#}
{#                       target="_blank"><img src="//bookcover.yuewen.com/qdbimg/349573/c_13421924503608304/150"></a>#}
{#                </div>#}
{#                <div class="book-mid-info">#}
{#                    <h4><a href="/book/13421924503608304" target="_blank" data-eid="qd_E05"#}
{#                           data-bid="13421924503608304">他如烈火般灼心</a></h4>#}
{#                    <p class="author">#}
{#                        <img src="//qidian.gtimg.com/hongxiu/images/ico/account.1e031.png"><a class="default name"#}
{#                                                                                              data-eid="qd_E06">苏木颜</a><em>|</em><a#}
{#                            data-eid="qd_E07" href="/all?catId=30020" target="_blank">现代言情</a><em>|</em><span>连载中</span>#}
{#                    </p>#}
{#                    <p class="intro">#}
{#                        人人都说万华总裁封璟炎是座冰山。#}
{#                        殊不知，在前妻季瑾面前，他这座冰山会瞬间融化成一座火山。#}
{##}
{#                        *#}
{#                        小剧场1：#}
{#                        某天，季瑾相亲遇到极品男被封璟炎撞见。#}
{#                        听到她说：“先生您有所不知，算命的说我命硬，容易克夫，我第一任老公就是被我克的倾家荡产！负债累累！所以，娶我之前您要做好破产的心理准备。”#}
{#                        极品男刚走，封璟炎就坐到了她对面：“听说我破产是被你克的？”#}
{#                        “……”季瑾瞬间闭口不敢说话。#}
{#                        封璟炎：“要不要考虑下？再克我一次？”#}
{#                        季瑾：“……”#}
{#                        冰山霸总VS战地记者#}
{#                        身心1V1。#}
{#                        正能量暖宠文。#}
{#                    </p>#}
{#                    <p class="update"><a href="/chapter/13421924503608304/38012940974792842" data-eid="qd_E08"#}
{#                                         data-bid="13421924503608304"#}
{#                                         data-cid="//www.hongxiu.com/book/13421924503608304/38012940974792842"#}
{#                                         target="_blank">最新更新 104 还是没有躲过</a><em>·</em><span>2019-06-27 23:54:00</span>#}
{#                    </p>#}
{#                </div>#}
{#                <div class="book-right-info">#}
{#                    <p class="btn">#}
{#                        <a class="red-btn" href="/book/13421924503608304" target="_blank" data-eid="qd_E02"#}
{#                           data-bid="13421924503608304">免费阅读</a>#}
{##}
{#                        <a class="border-btn add-book" href="javascript:" data-eid="qd_E03"#}
{#                           data-bookid="13421924503608304" data-bid="13421924503608304">加入书架</a>#}
{#                    </p>#}
{#                </div>#}
{#            </li>#}
{##}
{#            <li data-rid="2">#}
{#                <div class="book-img-box">#}
{#                    <a href="/book/13476070005433504" data-eid="qd_E04" data-bid="13476070005433504"#}
{#                       target="_blank"><img src="//bookcover.yuewen.com/qdbimg/349573/c_13476070005433504/150"></a>#}
{#                </div>#}
{#                <div class="book-mid-info">#}
{#                    <h4><a href="/book/13476070005433504" target="_blank" data-eid="qd_E05"#}
{#                           data-bid="13476070005433504">来自星河的妖狐</a></h4>#}
{#                    <p class="author">#}
{#                        <img src="//qidian.gtimg.com/hongxiu/images/ico/account.1e031.png"><a class="default name"#}
{#                                                                                              data-eid="qd_E06">尚可</a><em>|</em><a#}
{#                            data-eid="qd_E07" href="/all?catId=30020" target="_blank">现代言情</a><em>|</em><span>连载中</span>#}
{#                    </p>#}
{#                    <p class="intro">#}
{#                        【1V1强强联手，盛宠无双】#}
{#                        顾酒，畅销女漫画家，脑洞清奇，笔下的头号男主，狐妖即墨烟，可软可撩，吸粉无数。#}
{#                        某个雨夜……#}
{#                        她凝视着衣柜里这只软萌的白狐，墨眸里温情微染。#}
{#                        “你是烟烟？”#}
{#                        “嗷呜~”#}
{#                        白狐变身妖孽男子，容颜俊美，白衫翩跹，白发如雪。#}
{#                        “烟烟和酒酒，天生一对呀！”#}
{#                        得，穿越就算了，还讹上她了？#}
{#                        禁欲系女画家，从此化身狐奴，得宠无度。#}
{#                        她说灵感源于梦境。#}
{#                        夜夜梦回，总有一个撕心裂肺的声音一遍遍喃喃：#}
{#                        “酒酒……酒酒……”#}
{#                        她才知，她以为的梦，原是他跨越百年跨越时空的追逐。当她手握利剑卷土重来，伴她身侧的，依旧是这只狐。#}
{#                        “谁敢伤我酒酒，杀、无、赦！”#}
{#                    </p>#}
{#                    <p class="update"><a href="/chapter/13476070005433504/38007906226302542" data-eid="qd_E08"#}
{#                                         data-bid="13476070005433504"#}
{#                                         data-cid="//www.hongxiu.com/book/13476070005433504/38007906226302542"#}
{#                                         target="_blank">最新更新 第083章：黑猫的主人？</a><em>·</em><span>2019-06-27 18:41:24</span>#}
{#                    </p>#}
{#                </div>#}
{#                <div class="book-right-info">#}
{#                    <p class="btn">#}
{#                        <a class="red-btn" href="/book/13476070005433504" target="_blank" data-eid="qd_E02"#}
{#                           data-bid="13476070005433504">免费阅读</a>#}
{##}
{#                        <a class="border-btn add-book" href="javascript:" data-eid="qd_E03"#}
{#                           data-bookid="13476070005433504" data-bid="13476070005433504">加入书架</a>#}
{#                    </p>#}
{#                </div>#}
{#            </li>#}
{##}
{#            <li data-rid="3">#}
{#                <div class="book-img-box">#}
{#                    <a href="/book/13699729503387204" data-eid="qd_E04" data-bid="13699729503387204"#}
{#                       target="_blank"><img src="//bookcover.yuewen.com/qdbimg/349573/c_13699729503387204/150"></a>#}
{#                </div>#}
{#                <div class="book-mid-info">#}
{#                    <h4><a href="/book/13699729503387204" target="_blank" data-eid="qd_E05"#}
{#                           data-bid="13699729503387204">Hi，我的草莓味少年</a></h4>#}
{#                    <p class="author">#}
{#                        <img src="//qidian.gtimg.com/hongxiu/images/ico/account.1e031.png"><a class="default name"#}
{#                                                                                              data-eid="qd_E06">若雪飞扬</a><em>|</em><a#}
{#                            data-eid="qd_E07" href="/all?catId=30031" target="_blank">浪漫青春</a><em>|</em><span>连载中</span>#}
{#                    </p>#}
{#                    <p class="intro">#}
{#                        青春高甜宠文，撩动你沉寂已久的少女心，那个曾经陪你上课的人，现在还在等你下班吗？#}
{#                        ◆高一那年，地铁站出口，她被一群不良少年围堵戏耍，#}
{#                        身为“不良少年头目”的他，从天而降，“英雄救美”。#}
{#                        临别时，她义正言辞地警告他：“以后别让你的那帮兄弟干这种事了！”#}
{#                        他却双手插在兜里，温柔又狡黠地注视着她：“哪种？”#}
{#                        ◆文理分班后，他公然占了她为喜欢的人留的座位，#}
{#                        她又急又气，扭头就要走，他却伸手抓住她的胳膊：#}
{#                        “怎么……不敢和我做同桌？怕爱上我？”#}
{#                        “……”#}
{#                        ◆临近高考，她有点紧张，一直趴在课桌上啐啐念：“我觉高考这事吧，得看上天爱不爱我了？”#}
{#                        “可到底爱不爱呢？”#}
{#                        “抬头。”他命令她。#}
{#                        她仰头，对上他亮的像星星一样的眼睛；#}
{#                        “爱”。#}
{#                        ……#}
{#                        后来，他被众人误解却毫不在意，只对她说：“唐弋瑾，你不需要分青红皂白，只需要站在我这边，就好。”#}
{#                        再后来，她终于明白了什么叫“斯人若彩虹，遇上方知有！”#}
{#                        最初的心动或许就是伪学渣的你叼着棒棒糖给我讲题，嘴里呼出好闻的草莓味。#}
{#                        姜靳深，众生皆苦，唯有你是草莓味！承蒙你出现，够我喜欢好多年！#}
{#                    </p>#}
{#                    <p class="update"><a href="/chapter/13699729503387204/37988712558231138" data-eid="qd_E08"#}
{#                                         data-bid="13699729503387204"#}
{#                                         data-cid="//www.hongxiu.com/book/13699729503387204/37988712558231138"#}
{#                                         target="_blank">最新更新 Chapter 61#}
{#                        如此仗义</a><em>·</em><span>2019-06-28 10:00:00</span>#}
{#                    </p>#}
{#                </div>#}
{#                <div class="book-right-info">#}
{#                    <p class="btn">#}
{#                        <a class="red-btn" href="/book/13699729503387204" target="_blank" data-eid="qd_E02"#}
{#                           data-bid="13699729503387204">免费阅读</a>#}
{##}
{#                        <a class="border-btn add-book" href="javascript:" data-eid="qd_E03"#}
{#                           data-bookid="13699729503387204" data-bid="13699729503387204">加入书架</a>#}
{#                    </p>#}
{#                </div>#}
{#            </li>#}
{##}
{#        </ul>#}
{#    </div>#}
{#</div>#}
{##}
{#{% endblock %}#}